
:root {
    --main-color-: #082F7E;
    --white-: #fff;
    --black-: #000;
    --hover-: #1645a4;
    --das-card-: #EBEDEE;
    --das-card-2-: #FDFBFB;
    --verified-: #40ff00;
    --num-: #001B55;
    --num-2-: #045CBA;
    --grey-: #888888;
    --yellow-: #FFC520;
}

.sign-card {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    background-color: var(--black-);
    color: var(--white-);
    border-radius: 14px;
}

.sign-card input {
    border: none;
    height: 35px;
    border-radius: 5px;
    padding: 1rem;
}

.btn-main {
    background-color: var(--main-color);
    color: var(--white-);

}

.btn-main:hover {
    background-color: var(--hover-);
}