
:root {
    --main-color-: #082F7E;
    --white-: #fff;
    --black-: #000;
    --hover-: #1645a4;
    --das-card-: #EBEDEE;
    --das-card-2-: #FDFBFB;
    --verified-: #40ff00;
    --num-: #001B55;
    --num-2-: #045CBA;
    --grey-: #888888;
    --yellow-: #FFC520;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user_account {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

section {
    padding: 0 10px;
}

.user_profile {
    width: 400px;
    max-width: 90%;
    height: 600px;
    padding: 0.5rem 1rem;
    background-color: var(--das-card-2-);
    border-radius: 15px;
    box-shadow: 5px 5px 5px #888888;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.records {
    color: var(--main-color-);
    font-weight: bold;
    margin: 0 4px;
}

.user_profile .profile_pic img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
}

.user_since {
    width: 250px;
    max-width: 100%;
    height: 210px;
    background-color: var(--das-card-);
    box-shadow: 10px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.user_year {
    display: flex;
}

.card {
    width: 400px;
    max-width: 100%;
}

.victories>p {
    color: var(--main-color-);
    font-weight: bold;
}

.victories>h5 {
    color: var(--grey-);
}

.vic-num {
    color: var(--num-);
    font-size: 2.5rem;
    font-weight: bold;
}

.rate {
    color: var(--num-2-);
}

.start-container .ready{
    color:var(--main-color-);
}
/* From Uiverse.io*/
.btn {
    width: 140px;
    height: 50px;
    background-color: var(--yellow-);
    color: #fff;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.btn span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: top 0.5s;
}

.btn-text-one {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-weight: bold;
}

.btn-text-two {
    position: absolute;
    width: 100%;
    top: 150%;
    left: 0;
    transform: translateY(-50%);
    font-weight: bolder;
}

.btn:hover .btn-text-one {
    top: -100%;

}

.btn:hover .btn-text-two {
    top: 50%;
}

.footer-container{
    background-color: var(--das-card-);
}
.footer-container .footer-name{
    color: var(--num-);
    font-weight: bold;
}